---
import Layout from "../layouts/Layout.astro";
import home from "../../content/home.json";
import IconExternalLink from "../components/IconExternalLink.astro";

---

<Layout title="André Behr – Journalist & Writer">
  <section class="page-section">
    <p class="page-label">{home.untertitel}</p>
    <h1 class="page-title">{home.titel}</h1>
    <p class="page-intro">{home.intro}</p>
 <a href="/kontakt" class="ref-btn">
  <IconExternalLink />
  Kontakt aufnehmen
</a>



  </section>
</Layout>
